.formLabel {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.assignees {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.assignedUser {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 4px;
}

.assignedUser:hover {
  background-color: #dfdfdf;
}

.nickname {
  margin-left: 5px;
}
