.checkBoxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.checkBoxContainer:hover {
  background-color: #eaeaea;
}

.addButton {
  display: flex;
  padding: 4px;
  align-items: center;
}
